<p id="notice"><%= notice %></p>

<p>
  <strong>Thing:</strong>
  <%= @booking.thing %>
</p>

<p>
  <strong>Referrer:</strong>
  <%= @booking.referrer %>
  </p>

  <p>
  <%= debug(@booking.referee) %>
  </p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
