<p id="notice"><%= notice %></p>

<p>
  <strong>Thing:</strong>
  <%= @order.thing %>
</p>

<p>
  <strong>Referred from:</strong>
  <%= @order.referred_from %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
